In [1]:
#cargando las bibliotecas
import pandas as pd
#from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt 
import chardet

import folium as fm
from folium import Marker, GeoJson
from folium.plugins import MarkerCluster, HeatMap, StripePattern

import geopandas as gpd
from geopandas import GeoSeries
from shapely.geometry import Point, LineString


import branca as br

In [4]:
#Carganado la base de datos
sex_work = pd.read_stata( r'../../_data/8_trab_sex_20.dta' )
#checando con las 5 primeras filas
sex_work.head(5)

  cod_ubigeo     district     month     sex  empl
0     010101  CHACHAPOYAS   January    S.I.   171
1     010101  CHACHAPOYAS   January  Hombre  1959
2     010101  CHACHAPOYAS   January   Mujer   805
3     010101  CHACHAPOYAS  February    S.I.   158
4     010101  CHACHAPOYAS  February  Hombre  1798

In [ ]:
#mapa 1

In [ ]:
#mapa 2

In [ ]:
#mapa 3

In [ ]:
#mapa 4

In [ ]:
#mapa 5

In [ ]:
#mapa 6

In [ ]:
#mapa 7

In [ ]:
#mapa 8