## Assignment 2 - Group 1 

First of all, we import the libraries to be used in this work:

In [1]:
import numpy as np
import pandas as pd

#### Question 1.2 - Lists

Let the following data be provided by the problem:

In [2]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
p2_list = [ 2 , 3, 4, 5 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**

In the following list we try to get a list of booleans where True should appear in the positions where np.nan is found, and False should appear otherwise.

In [3]:
a=list(map(np.isnan,f_list)) 
# Let's remember that with the map function the function of the first arguments is applied to each element of the list introduced in the second argument.
# With np.isnan you get True when the element is np.nan, False otherwise.

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

You can see that the previous line of code does not work. This is because np.isnan cannot be applied to string objects (and the list provided has these types of objects). To fix this problem we do the following:

We define the function `str0` which returns True when the element is not a string, False otherwise. Then we use the `map` function to apply the function made to each element of the `f_list` list.

In [4]:
def str0(x):
    y=type(x)!=str
    return y

a=list(map(str0,f_list))

print(a)

[True, True, False, False, True, False, False, True]

Note that the list obtained has True in the positions where there is np.nan and False where there is not. Since the list `f_list` only has two types of objects (strings and np.nan), the function created allows us to differentiate between np.nan and other elements. It wouldn't work if there were other types of items in the list.

Now we create the following np.array that contains exclusively the index position of the elements where True appears from the list obtained previously. This action is done precisely with `np.argwhere`.

In [5]:
b=np.argwhere(a)
print(b)

[[0]
 [1]
 [4]
 [7]]

Using the map and int function we convert each element of this array into an integer and save it in a new list.

In [6]:
b=list(map(int,b))
print(b)

[0, 1, 4, 7]

Now, using f-strings we print the text requested by the question.

In [7]:
print(f'The indices {", ".join(map(str, b))} have np.nan values.')

The indices 0, 1, 4, 7 have np.nan values.

Notice that inside the braces is placed `", ".join(map(str, b))`. Precisely, this command allows us to obtain a string in which each element b converted into a string (thanks to the `map` and `str` function) is combined into a single string in which each element is also separated by ", ". Therefore, the comeand returns in summary "0, 1, 4, 7".

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]`.  **Hint: Use multiplication function in `lists` and see the output.**

We can do this simply with the following lines of code:

In [8]:
p2_list_1= p2_list*4
print(p2_list_1)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

Using list multiplication using `*4` can duplicate the provided list 4 times.

3. Print the length of `f_list`. **Hint: Length function**

We can do this simply with the following line of code:

In [9]:
print(len(f_list))

8

Where `len` is the length function which returns the number of elements in the list. And let's remember that with the `print` function we can print the result of the operation in the output.

4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**

We can do this simply with the following line of code:

In [10]:
' '.join(text1)

'My teacher assistant is so boring.'

Remember that with the join method (which is applied to strings) we manage to obtain a single string that joins the elements contained in the list provided in the input (in this case `text1`) and these elements in turn are separated by the string called at the beginning, in this case being `" "`. This is why the printed result is obtained.

5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**

First we extend the provided word list with the new words required for printing. For this we use the `extend` method.

In [11]:
text1.extend(['but', 'is', 'very', 'funny.'])

Finally, we use the `join` method again to create the required string. Additionally, we use the `replace` method to replace some parts of the string with others to obtain one equal to the one requested.

In [12]:
' '.join(text1).replace('g. ','g, ').replace('teacher assistant','TA')

'My TA is so boring, but is very funny.'

6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>

We define the following:

In [13]:
m_1=max(values1)
m_2=values1.index(m_1)

m_3=min(values1)
m_4=values1.index(m_3)

With the functions `max` and `min` we obtain the maximum and minimum value respectively within the list `values1`. Then with the `index` method we obtain the numerical position where these values are located.

With these values saved in `m_1`, `m_2`, `m_3` and `m_4` we print the required strings.

In [14]:
print(f'The max value of values1 is {m_1} and is located in the {m_2} index.')
print(f'The min value of values1 is {m_3} and is located in the {m_4} index.')

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

First we define the following function:

In [15]:
def split(x):
    y=x.split(',')
    return y

With this function a string would be separated into parts, where the separator element would be `,`.

We apply this function to each string element of `last_and_name` to separate first names from last names (which are conveniently strings divided by a comma).

In [16]:
last_and_name_1 = list(map(split,last_and_name))
print(last_and_name_1)

[['CORNEJO SANCHEZ', ' CHRISTIAN SANTOS'], ['ORELLANA QUISPE', ' CRISTIAN NASSER'], ['MORALES CHOQUEHUANCA', ' ANGELICA KARINA'], ['GUIMARAY RIBEYRO', ' JOSE ROBERTO'], ['CAMACHO GAVIDIA', ' ABEL FERNANDO'], ['TINTAYA ORIHUELA', ' MEIR ALVARO'], ['CHAVEZ MARTINEZ', ' JOSELIN ALEXANDRA'], ['FIGUEROA MURO', ' LEONEL ARTURO'], ['GOMEZ CRIBILLERO', ' JOSE FELIPE'], ['PALOMINO SEGUÍN', ' AFRANIA'], ['LUZON CUEVA', ' BIANCA MARIETTE'], ['SUAÑA ZEGARRA', ' ADRIAN ANDRE'], ['SOTO POMACHAGUA', ' DORKAS YOMIRA JHERMY'], ['FIORENTINO MARTINEZ', ' LADY ALY'], ['LAMA MAVILA', ' HECTOR ANDRE'], ['MEZA HINOJO', ' GUSTAVO'], ['LOZADA MURILLO', ' PERSEO MARCELO'], ['ZAMBRANO JIMENEZ', ' MIGUEL ALONZO'], ['JACOBS LUQUE', ' NICOLAS'], ['VIDAL VIDAL', ' ROCIO GABRIELA'], ['TORRES ANICAMA', ' JANE CAMILA'], ['LOPEZ ESTRADA', ' MARIA ELISA'], ['BOYCO ORAMS', ' ALEJANDRO'], ['DIAZ BERROSPI', ' KARLINE ROSMELI'], ['RIEGA ESCALANTE', ' STEPHY ROSARIO'], ['LEVANO TORRES', ' VALERIA CECILIA'], ['ESQUIVES BRAVO', ' SEBASTIAN RENATO'], ['PEREZ GONZALES', ' JUAN CARLOS'], ['OTERO MAGUIÑA', ' MARIANA'], ['CLAVO CAMPOS', ' ANDREA BRIZETH'], ['AGUILAR GARCIA', ' ERICK JOSUE'], ['CALDAS VELASQUEZ', ' JOSUE DANIEL'], ['SALAS NUÑEZ BORJA', ' FABIO MANUEL'], ['PIZARRO VILLANES', ' FERNANDA NICOLLE'], ['QUILLATUPA MORALES', ' ANGELA ADELINA'], ['HUANCAYA IDONE', ' CESAR DANTE'], ['CALVO PORTOCARRERO', ' GABRIELA ISABEL'], ['IBAÑEZ ABANTO', ' ANGEL MAURICIO'], ['MELÉNDEZ APONTE', ' JUAN DIEGO'], ['CRISTIAN SERRANO', ' ARONE'], ['HINOJOSA CAHUANA', ' PERCY ALBERTH'], ['ANGLAS GARCÍA', ' KEVIN ARTURO'], ['ALDAVE ACOSTA', ' CESAR ERNESTO'], ['NÚÑEZ HUAMÁN', ' CÉSAR AGUSTO'], ['OBREGON HUAMAN', ' DIANA EDITH'], ['SOTO PACHERRES', ' RODRIGO FRANCO'], ['INGARUCA RIVERA', ' GRETTEL ALEXANDRA'], ['ROJAS HUAMAN', ' ROSA ANGELA'], ['NEYRA SALAS', ' DANTE OMAR'], ['HUERTA ESPINOZA', ' YAJAIRA ALEXANDRA'], ['HUANCA MARTINEZ', ' JORGE ALBERTO'], ['FLORES CADILLO', ' ALEXIS']]

However, we still get a single list. To create the two lists requested, we create the following two functions:

In [17]:
def get_first(x):
    y=x[0]
    return y

def get_second(x):
    y=x[1]
    return y

The first function obtains the first element of the entered input. The second function obtains the second element of the entered input.

We conveniently apply these functions to each list within the obtained list using the `map` function to obtain the required lists.

In [18]:
names=list(map(get_second,last_and_name_1))    
last_names=list(map(get_first,last_and_name_1))     

print(names)

[' CHRISTIAN SANTOS', ' CRISTIAN NASSER', ' ANGELICA KARINA', ' JOSE ROBERTO', ' ABEL FERNANDO', ' MEIR ALVARO', ' JOSELIN ALEXANDRA', ' LEONEL ARTURO', ' JOSE FELIPE', ' AFRANIA', ' BIANCA MARIETTE', ' ADRIAN ANDRE', ' DORKAS YOMIRA JHERMY', ' LADY ALY', ' HECTOR ANDRE', ' GUSTAVO', ' PERSEO MARCELO', ' MIGUEL ALONZO', ' NICOLAS', ' ROCIO GABRIELA', ' JANE CAMILA', ' MARIA ELISA', ' ALEJANDRO', ' KARLINE ROSMELI', ' STEPHY ROSARIO', ' VALERIA CECILIA', ' SEBASTIAN RENATO', ' JUAN CARLOS', ' MARIANA', ' ANDREA BRIZETH', ' ERICK JOSUE', ' JOSUE DANIEL', ' FABIO MANUEL', ' FERNANDA NICOLLE', ' ANGELA ADELINA', ' CESAR DANTE', ' GABRIELA ISABEL', ' ANGEL MAURICIO', ' JUAN DIEGO', ' ARONE', ' PERCY ALBERTH', ' KEVIN ARTURO', ' CESAR ERNESTO', ' CÉSAR AGUSTO', ' DIANA EDITH', ' RODRIGO FRANCO', ' GRETTEL ALEXANDRA', ' ROSA ANGELA', ' DANTE OMAR', ' YAJAIRA ALEXANDRA', ' JORGE ALBERTO', ' ALEXIS']

You can see `names` only contains the first names.

In [19]:
print(last_names)

['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

You can see `last_names` only contains the last names.

8. Give only the last names of students who do not have email. Use the `emails` and `last_names` list. **Hint: Use `map` and `split`.**

We define the following function:

In [20]:
def without_email(x):
    y=x[0]==""
    return y

This function returns True when the first element of `x` is equal to `""`, False otherwise.

Now, with the `zip` function we join each last name with its respective email address in a tuple (it must be specified that `zip` joins into tuples each element of two lists that have the same numerical position or index). Then with the `filter` function we apply the `without_email` function to each created tuple. In this case `filter` will only keep those elements or tuples that have obtained True when applying the function introduced in the first argument. And let's remember that this function would only return True if the first element of the tuple (being the email) is equal to `""`. Therefore, with this command we identify the tuples of those students who do not have an email address.

Finally, to create the required list we collect the student's last name from the filtered tuples. For this we use the `map` function with which we apply the `get_second` function to each tuple (which we remember returns the second element of the entered input). In this way we collected the requested last names in the `last_names_without_email` list. With this we collect the last name contained in each tuple and then save it in the `last_names_without_email` list.

In [21]:
z=zip(emails,last_names)
students_without_email = filter(without_email,z)

last_names_without_email = list(map(get_second, students_without_email))

print(last_names_without_email)

['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']