# Assignment 3

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.
6. Generate a class that do the same as the function, but has a method named as `descripitive` that gives you the mean, max, min, median, and rolling average .

In [87]:
import pandas as pd

class DataFrameAnalyzer:  
    def __init__(self, dataframe):   #atributtes
        self.dataframe = dataframe

    def descriptive(self, window_size=None):
        # Select columns from index 8 to 32
        selected_columns = self.dataframe.iloc[:, 8:33]

        # Convert selected columns to numeric, coercing errors to NaN
        selected_columns_numeric = selected_columns.apply(pd.to_numeric, errors='coerce')

        # Calculate statistics along rows
        row_means = selected_columns_numeric.mean(axis=1)
        row_max = selected_columns_numeric.max(axis=1)
        row_min = selected_columns_numeric.min(axis=1)
        row_std = selected_columns_numeric.std(axis=1)

        # Create a new DataFrame with the results
        result_df = pd.DataFrame({
            'Mean': row_means,
            'Max': row_max,
            'Min': row_min,
            'Std': row_std
        })

        # Calculate mean of the years
        column_means = selected_columns_numeric.mean(axis=0)

        # Find the column with the best mean
        best_mean_column = column_means.idxmax()
        worst_mean_column = column_means.idxmin()

        # Display the results
        print("\nDescriptive Statistics (Row-wise):")
        print(result_df)

        print("\nMean of each column:")
        print(column_means)

        print("\nColumn with the best mean:", best_mean_column)
        print("Column with the worst mean:", worst_mean_column)

        if window_size is not None:
            # Calculate rolling average using a window of specified size
            rolling_avg = selected_columns_numeric.rolling(window=window_size, axis=1).mean()
            print("\nRolling Average:")
            print(rolling_avg)

file_path = r"C:\Users\Hp\Documents\GitHub\QLAB_Summer_Python\_data\bogota_firms.xlsx"
df_Results = pd.read_excel(file_path, sheet_name="Results")

# Instantiate the class and perform descriptive statistics
analyzer = DataFrameAnalyzer(df_Results)
analyzer.descriptive(window_size=3)

Descriptive Statistics (Row-wise):
              Mean           Max         Min           Std
0     9.919648e+06  5.815591e+07  463.058445  1.858379e+07
1     1.347901e+06  5.259328e+06   42.563331  2.276305e+06
2              NaN           NaN         NaN           NaN
3     7.071306e+05  4.769349e+06  198.497228  1.119272e+06
4     1.109296e+06  9.490473e+06   52.643460  2.352350e+06
...            ...           ...         ...           ...
9995  7.548884e+05  1.509000e+06  776.754003  1.066475e+06
9996  7.960691e+05  3.736339e+06  321.540861  1.015961e+06
9997  8.427937e+05  3.429017e+06  151.318783  1.125517e+06
9998  2.229026e+06  7.692560e+06  657.530635  2.866730e+06
9999  1.252921e+06  4.450358e+06   43.457407  1.773920e+06

[10000 rows x 4 columns]

Mean of each column:
Operating revenue (Turnover)\nth USD 2023    8.747344e+02
Operating revenue (Turnover)\nth LCU 2022    4.220827e+06
Operating revenue (Turnover)\nth USD 2022    8.778359e+02
Operating revenue (Turnover)\nth LCU 2021    3.937949e+06
Operating revenue (Turnover)\nth USD 2021    9.899395e+02
Operating revenue (Turnover)\nth LCU 2020    2.954497e+06
Operating revenue (Turnover)\nth USD 2020    8.575457e+02
Operating revenue (Turnover)\nth LCU 2019    3.415505e+06
Operating revenue (Turnover)\nth USD 2019    1.036862e+03
Operating revenue (Turnover)\nth LCU 2018    3.995716e+06
Operating revenue (Turnover)\nth USD 2018    1.220638e+03
Operating revenue (Turnover)\nth LCU 2017    3.971185e+06
Operating revenue (Turnover)\nth USD 2017    1.336368e+03
Operating revenue (Turnover)\nth LCU 2016    3.276314e+06
Operating revenue (Turnover)\nth USD 2016    1.091846e+03
Operating revenue (Turnover)\nth LCU 2015    3.155238e+06
Operating revenue (Turnover)\nth USD 2015    1.001924e+03
Operating revenue (Turnover)\nth LCU 2014    3.416879e+06
Operating revenue (Turnover)\nth USD 2014    1.428360e+03
Operating revenue (Turnover)\nth LCU 2013    3.623918e+06
Operating revenue (Turnover)\nth USD 2013    1.884956e+03
Operating revenue (Turnover)\nth LCU 2012    2.810938e+06
Operating revenue (Turnover)\nth USD 2012    1.586416e+03
Operating revenue (Turnover)\nth LCU 2011    2.684464e+06
Operating revenue (Turnover)\nth USD 2011    1.382043e+03
dtype: float64

Column with the best mean: Operating revenue (Turnover)
th LCU 2022
Column with the worst mean: Operating revenue (Turnover)
th USD 2020

Rolling Average:
      Operating revenue (Turnover)\nth USD 2023  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
9995                                        NaN
9996                                        NaN
9997                                        NaN
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2022  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
9995                                        NaN
9996                                        NaN
9997                                        NaN
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2022  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
9995                                        NaN
9996                                        NaN
9997                                        NaN
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2021  \
0                                  5.437932e+06
1                                  3.343372e+06
2                                           NaN
3                                  2.157221e+06
4                                  2.798208e+06
...                                         ...
9995                                        NaN
9996                                        NaN
9997                                        NaN
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2021  \
0                                  3.848962e+06
1                                  1.753880e+06
2                                           NaN
3                                  5.675806e+05
4                                  1.208796e+06
...                                         ...
9995                                        NaN
9996                                        NaN
9997                                        NaN
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2020  \
0                                  4.380361e+06
1                                           NaN
2                                           NaN
3                                  8.605665e+05
4                                  1.446890e+06
...                                         ...
9995                                        NaN
9996                                        NaN
9997                                        NaN
9998                               2.660605e+06
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2020  \
0                                  5.328508e+05
1                                           NaN
2                                           NaN
3                                  2.935440e+05
4                                  2.387977e+05
...                                         ...
9995                                        NaN
9996                                        NaN
9997                                        NaN
9998                               1.630370e+06
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2019  \
0                                  1.141929e+06
1                                           NaN
2                                           NaN
3                                  5.113548e+05
4                                  4.862742e+05
...                                         ...
9995                                        NaN
9996                               1.202262e+06
9997                                        NaN
9998                               4.194298e+06
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2019  \
0                                  6.103845e+05
1                                           NaN
2                                           NaN
3                                  2.181046e+05
4                                  2.479244e+05
...                                         ...
9995                                        NaN
9996                               5.553038e+05
9997                                        NaN
9998                               2.565438e+06
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2018  ...  \
0                                  1.203897e+06  ...
1                                  2.505759e+05  ...
2                                           NaN  ...
3                                  4.632264e+05  ...
4                                  3.411346e+06  ...
...                                         ...  ...
9995                                        NaN  ...
9996                               1.097638e+06  ...
9997                                        NaN  ...
9998                               3.282772e+06  ...
9999                                        NaN  ...

      Operating revenue (Turnover)\nth LCU 2015  \
0                                  3.325209e+07
1                                           NaN
2                                           NaN
3                                  8.249522e+05
4                                  5.385000e+05
...                                         ...
9995                                        NaN
9996                               7.105564e+05
9997                                        NaN
9998                                        NaN
9999                               1.529570e+06

      Operating revenue (Turnover)\nth USD 2015  \
0                                  1.939608e+07
1                                           NaN
2                                           NaN
3                                  3.903791e+05
4                                  5.544487e+04
...                                         ...
9995                                        NaN
9996                               3.377925e+05
9997                                        NaN
9998                                        NaN
9999                               4.613145e+04

      Operating revenue (Turnover)\nth LCU 2014  \
0                                  3.666251e+07
1                                           NaN
2                                           NaN
3                                  6.818571e+05
4                                  1.563622e+05
...                                         ...
9995                                        NaN
9996                               6.819723e+05
9997                                        NaN
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2014  \
0                                  1.728443e+07
1                                           NaN
2                                           NaN
3                                  2.918686e+05
4                                  1.011381e+05
...                                         ...
9995                                        NaN
9996                               3.445551e+05
9997                                        NaN
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2013  \
0                                  2.521188e+07
1                                           NaN
2                                           NaN
3                                  4.693134e+05
4                                  1.829036e+05
...                                         ...
9995                                        NaN
9996                               6.512024e+05
9997                               1.060506e+06
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2013  \
0                                  7.944956e+06
1                                           NaN
2                                           NaN
3                                  1.777829e+05
4                                  8.186779e+04
...                                         ...
9995                                        NaN
9996                               3.070579e+05
9997                               4.517179e+05
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2012  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
9995                                        NaN
9996                                        NaN
9997                              744913.035329
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2012  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
9995                                        NaN
9996                                        NaN
9997                              293850.015309
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth LCU 2011  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
9995                                        NaN
9996                                        NaN
9997                              391604.313313
9998                                        NaN
9999                                        NaN

      Operating revenue (Turnover)\nth USD 2011
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
9995                                        NaN
9996                                        NaN
9997                               98205.086241
9998                                        NaN
9999                                        NaN

[10000 rows x 25 columns]