# Assignment 3

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.
6. Generate a class that do the same as the function, but has a method named as `descripitive` that gives you the mean, max, min, median, and rolling average .

In [13]:
import pandas as pd
file_path = r"C:\Users\Hp\Documents\GitHub\QLAB_Summer_Python\_data\bogota_firms.xlsx"

df_Results = pd.read_excel(file_path, sheet_name="Results")
print(df_Results.head())

   Unnamed: 0                        Company name Latin alphabet  \
0         1.0  CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...
1         2.0              AGRET CARGA NACIONAL Y ESPECIAL S A S
2         3.0                           DINASTIA INVERSIONES S A
3         4.0                       BACKBONE COMUNICACIONES LTDA
4         5.0                                MACAOL ESPINOSA SAS

  Country ISO code City\nLatin Alphabet  NACE Rev. 2, core code (4 digits)  \
0               CO                 CALI                             4299.0
1               CO               BOGOTA                             4941.0
2               CO         BARRANQUILLA                             4771.0
3               CO               BOGOTA                             6190.0
4               CO               BOGOTA                             6820.0

  Consolidation code  Last avail. year  \
0                 U1              2022
1                 U1              2022
2                 U1              2007
3                 U1              2022
4                 U1              2022

  Operating revenue (Turnover)\nth LCU 2023  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth USD 2023  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth LCU 2022  ...  \
0                                   4769810  ...
1                               4769796.503  ...
2                                      n.a.  ...
3                               4769348.616  ...
4                                   4769148  ...

  Operating revenue (Turnover)\nth LCU 2015  \
0                                  58155914
1                                      n.a.
2                                      n.a.
3                                   1170331
4                                    165799

  Operating revenue (Turnover)\nth USD 2015  \
0                              18465.301699
1                                      n.a.
2                                      n.a.
3                                371.596172
4                                  52.64346

  Operating revenue (Turnover)\nth LCU 2014  \
0                                  51813164
1                                      n.a.
2                                      n.a.
3                                874868.654
4                                    303235

  Operating revenue (Turnover)\nth USD 2014  \
0                              21656.856573
1                                      n.a.
2                                      n.a.
3                                365.677436
4                                126.746108

  Operating revenue (Turnover)\nth LCU 2013  \
0                                  23800831
1                                      n.a.
2                                      n.a.
3                                    532706
4                                    245349

  Operating revenue (Turnover)\nth USD 2013  \
0                              12379.759862
1                                      n.a.
2                                      n.a.
3                                277.081601
4                                127.615784

  Operating revenue (Turnover)\nth LCU 2012  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth USD 2012  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth LCU 2011  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth USD 2011
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

[5 rows x 33 columns]

In [32]:
import pandas as pd
import statistics

# Define the class ListStats
class ListStats:
    # Add the __init__ method
    def __init__(self, numbers):
        # Assign the argument to the attribute self.numbers
        self.numbers = numbers
    
    # Define the descriptive method
    def descriptive(self):
        # Calculate the mean, max, min, median, and rolling average of the numbers
        mean = statistics.mean(self.numbers)
        max = max(self.numbers)
        min = min(self.numbers)
        median = statistics.median(self.numbers)
        rolling_average = sum(self.numbers) / len(self.numbers)
        # Return a dictionary with the results
        return {"mean": mean, "max": max, "min": min, "median": median, "rolling_average": rolling_average}

# Read the Excel file
file_path = r"C:\Users\Hp\Documents\GitHub\QLAB_Summer_Python\_data\bogota_firms.xlsx"
df_Results = pd.read_excel(file_path, sheet_name="Results")

# Select the column "Operating revenue (Turnover)th LCU 2023"
columna_1 = df_Results["Operating revenue (Turnover)th LCU 2023"]

# Convert the column to a list of numbers
columna_1 = [float(x) for x in columna_1]

# Create an object of the class ListStats with the column as an argument
my_stats = ListStats(columna_1)

df_Results = pd.read_excel(file_path, sheet_name="Results", header=0)

# Print the result of the descriptive method in a readable format
print(f"The descriptive statistics of the column are: {my_stats.descriptive()}")

KeyError: 'Operating revenue (Turnover)th LCU 2023'

In [35]:
#1. Inspect this dataset ./_data/bogota_firms.xlsx and show some descriptive statistics of it.
import pandas as pd
file_path = r"C:\Users\Hp\Documents\GitHub\QLAB_Summer_Python\_data\bogota_firms.xlsx"

#select the corresponding sheet
df_Results = pd.read_excel(file_path, sheet_name="Results")

#View the kind of data
print(df_Results.head())

selected_columns = df_Results.iloc[:, 8:33]

# Convert the selected columns to numeric, coercing errors to NaN
selected_columns_numeric = selected_columns.apply(pd.to_numeric, errors='coerce')

# Calculate the mean, max, and min along the specified axis (axis=1 for row-wise operations)
rpw_means = selected_columns_numeric.mean(axis=1)
row_max = selected_columns_numeric.max(axis=1)
row_min = selected_columns_numeric.min(axis=1)
row_std = selected_columns_numeric.std(axis=1)

import pandas as pd
import statistics

# Define the class ListStats
class ListStats:
    # Add the __init__ method
    def __init__(self, numbers):
        # Assign the argument to the attribute self.numbers
        self.numbers = numbers
    
    # Define the descriptive method
    def descriptive(self):
        # Calculate the mean, max, min, median, and rolling average of the numbers
        mean = statistics.mean(self.numbers)
        max = max(self.numbers)
        min = min(self.numbers)
        median = statistics.median(self.numbers)
        rolling_average = sum(self.numbers) / len(self.numbers)
        # Return a dictionary with the results
        return {"mean": mean, "max": max, "min": min, "median": median, "rolling_average": rolling_average}

# Read the Excel file
file_path = r"C:\Users\Hp\Documents\GitHub\QLAB_Summer_Python\_data\bogota_firms.xlsx"
df_Results = pd.read_excel(file_path, sheet_name="Results")

# Select the column "Operating revenue (Turnover)th LCU 2023"
columna_1 = df_Results["Operating revenue (Turnover)th LCU 2023"]

# Convert the column to a list of numbers
columna_1 = [float(x) for x in columna_1]

# Create an object of the class ListStats with the column as an argument
my_stats = ListStats(columna_1)

# Print the result of the descriptive method in a readable format
print(f"The descriptive statistics of the column are: {my_stats.descriptive()}")

   Unnamed: 0                        Company name Latin alphabet  \
0         1.0  CONSORCIO CONTINENTAL PARA EL DESARROLLO SOSTE...
1         2.0              AGRET CARGA NACIONAL Y ESPECIAL S A S
2         3.0                           DINASTIA INVERSIONES S A
3         4.0                       BACKBONE COMUNICACIONES LTDA
4         5.0                                MACAOL ESPINOSA SAS

  Country ISO code City\nLatin Alphabet  NACE Rev. 2, core code (4 digits)  \
0               CO                 CALI                             4299.0
1               CO               BOGOTA                             4941.0
2               CO         BARRANQUILLA                             4771.0
3               CO               BOGOTA                             6190.0
4               CO               BOGOTA                             6820.0

  Consolidation code  Last avail. year  \
0                 U1              2022
1                 U1              2022
2                 U1              2007
3                 U1              2022
4                 U1              2022

  Operating revenue (Turnover)\nth LCU 2023  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth USD 2023  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth LCU 2022  ...  \
0                                   4769810  ...
1                               4769796.503  ...
2                                      n.a.  ...
3                               4769348.616  ...
4                                   4769148  ...

  Operating revenue (Turnover)\nth LCU 2015  \
0                                  58155914
1                                      n.a.
2                                      n.a.
3                                   1170331
4                                    165799

  Operating revenue (Turnover)\nth USD 2015  \
0                              18465.301699
1                                      n.a.
2                                      n.a.
3                                371.596172
4                                  52.64346

  Operating revenue (Turnover)\nth LCU 2014  \
0                                  51813164
1                                      n.a.
2                                      n.a.
3                                874868.654
4                                    303235

  Operating revenue (Turnover)\nth USD 2014  \
0                              21656.856573
1                                      n.a.
2                                      n.a.
3                                365.677436
4                                126.746108

  Operating revenue (Turnover)\nth LCU 2013  \
0                                  23800831
1                                      n.a.
2                                      n.a.
3                                    532706
4                                    245349

  Operating revenue (Turnover)\nth USD 2013  \
0                              12379.759862
1                                      n.a.
2                                      n.a.
3                                277.081601
4                                127.615784

  Operating revenue (Turnover)\nth LCU 2012  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth USD 2012  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth LCU 2011  \
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

  Operating revenue (Turnover)\nth USD 2011
0                                      n.a.
1                                      n.a.
2                                      n.a.
3                                      n.a.
4                                      n.a.

[5 rows x 33 columns]

KeyError: 'Operating revenue (Turnover)th LCU 2023'